* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.info {
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 5px;
  left: 5px;
  width: 200px;
  padding: 3px 6px;
  font: 11px/20px Arial;
  border-radius: 4px;
}
.modes {
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 1px 3px;
  font: 11px/20px Arial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.modes a {
  display: block;
  min-width: 60px;
  text-align: center;
  border-radius: 4px;
  margin: 2px 0px;
}
.modes a.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.modes a:hover,
.modes a:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.viewport {
  background: #aaa;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
}
.world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0px 0px -250px;
  border-radius: 30px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.cube {
  position: absolute;
  -webkit-transform: translateX(0px) translateY(160px) translateZ(160px);
  -moz-transform: translateX(0px) translateY(160px) translateZ(160px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.cube.c2 {
  -webkit-transform: translateX(0px) translateY(0px) translateZ(160px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(160px);
}
.cube.c3 {
  -webkit-transform: translateX(0px) translateY(-160px) translateZ(160px);
  -moz-transform: translateX(0px) translateY(-160px) translateZ(160px);
}
.cube figure {
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 3px;
  background: #eee;
  box-shadow: inset 0px 0px 25px #d8d8d8;
}
.cube figure.front {
  -webkit-transform: rotateY(0deg) translateZ(50px);
  -moz-transform: rotateY(0deg) translateZ(50px);
}
.cube figure.back {
  -webkit-transform: rotateX(180deg) translateZ(50px);
  -moz-transform: rotateX(180deg) translateZ(50px);
}
.cube figure.right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
}
.cube figure.left {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
}
.cube figure.top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
}
.cube figure.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) translateZ(50px);
}
.step {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgba(50, 0, 0, 0.1);
}
.step.s1 {
  -webkit-transform: translateX(-200px) translateY(120px) translateZ(-200px);
  -moz-transform: translateX(-200px) translateY(120px) translateZ(-200px);
}
.step.s2 {
  -webkit-transform: translateX(-200px) translateY(-120px) translateZ(-100px);
  -moz-transform: translateX(-200px) translateY(-120px) translateZ(-100px);
}
.step.s3 {
  -webkit-transform: translateX(200px) translateY(120px) translateZ(100px);
  -moz-transform: translateX(200px) translateY(120px) translateZ(100px);
}
.step.s4 {
  -webkit-transform: translateX(200px) translateY(-120px) translateZ(200px);
  -moz-transform: translateX(200px) translateY(-120px) translateZ(200px);
}
